{% do view.registerAssetBundle("rosas\\dam\\ResourceBundle") %}


<div style="max-width:200px; max-height:200px; margin-bottom: 35px;" id="dam-asset-preview" data-thumbnailUrl={{thumbnailUrl|default("none")}}>
    <a id="remove-dam-asset" data-field={{fieldId}} data-element={{elementId}} class="delete icon" title="Remove" style="color:#606D8D; font-weight: bold; font-size: 12px;">&nbsp; Remove Image</a>
</div>
<div class="flex">
    <button type="button" id="rosas-clicker" data-field={{fieldId}} data-element={{elementId}} class="btn add icon dashed" tabindex="0">Select a DAM Asset</button>
</div>

<br>
AssetId:
{{assetId|default("none")}}
<br>
Thumnail URL:
{{thumbnailUrl|default("none")}}


<br>
Id:
<br>
{{id}}

<br>
Element:
<br>
{{element}}

