{% import "_includes/forms" as forms %}

<h1>Universal DAM Integrator</h1>
<h2>Settings</h2>

{{ forms.textField({
    first: true,
    label: "App ID",
    name: 'appId',
    value: settings.appId
}) }}

{{ forms.textField({
    first: true,
    label: "Secret Key",
    name: 'secretKey',
    value: settings.secretKey
}) }}

{{ forms.textField({
    label: "Authentication Endpoint",
    name: 'authEndpoint',
    value: settings.authEndpoint
}) }}
<p>If the app ID or secret key is needed in the URL include it as <strong>{appId}</strong> or <strong>{secretKey}</strong> with no spaces.</p>

{{ forms.textField({
    label: "Retrieve One Asset Endpoint",
    name: 'retrieveAssetMetadataEndpoint',
    value: settings.retrieveAssetMetadataEndpoint
}) }}
<p>If the app ID or secret key is needed in the URL include it as <strong>{appId}</strong> or <strong>{secretKey}</strong> with no spaces.</p>

<button onClick="{% do craft.metaSave.testMetaSave() %}" class="btn">Test Meta Save</button>